@model SBlogPostApplication.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>
        <dd>
            @if (Model.MediaURL != null)
            {

                <img class="img-responsive" src="Model.MediaURL" alt="">
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

    </dl>
</div>
<div>
    <div>
        Comments:
        @foreach (var comment in Model.Comments)
        {
            <p>
                @comment.Body - by @comment.Author.DisplayName - @comment.Created.ToString("dd/MM/yyyy HH:mm")
            </p>
            if (User.Identity.IsAuthenticated &&
            (User.IsInRole("Admin") || User.IsInRole("Moderator")))
            {
                <a href="@Url.Action("Edit", "Comments", new { id = comment.Id } )">Edit Comment</a>
                <a href="@Url.Action("Delete", "Comments", new { id = comment.Id })">Delete Comment</a>
            }
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            Submit your comment!
        </div>
        <div>
            @using (Html.BeginForm("Details" ,"BlogPosts", FormMethod.Post))
            {
                <input type="hidden" name="slug" value="@Model.Slug" />
                <textarea name="Body"></textarea>
                if (ViewBag.ErrorMessage != null)
                {
                    <span>@ViewBag.ErrorMessage</span>
                }
                <input type="submit" value="Submit" />
            }
        </div>
    }
  </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
